$backgroundColor: rgb(46, 44, 44);

$containerColor: rgb(10, 10, 10);
$border: rgb(22, 19, 19);
$disabledColor: rgb(100, 96, 96);

$fontMain: rgb(16, 189, 16);
$fontFamily: 'Press Start 2P', cursive;
$resultText: rgb(235, 251, 0);

$btnColor: rgb(35, 209, 35);

$targetBackground: rgb(54, 52, 52);
$refreshBackground: rgb(29, 27, 27);