@import './Global/global.scss';
@import './Global//variables.scss';

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  color: $fontMain;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    max-width: 1000px;
    min-height: 700px;
    background-color: $containerColor;
    border: 3px solid $border;
    border-radius: 10px;

    header {
      font-size: 35px;
      padding: 20px;
      text-decoration: underline;
      text-align: center;
      letter-spacing: 1px;
      font-family: $fontFamily;
    }

    .target {
      width: 80%;
      min-height: 100px;
      display: flex;
      justify-content: center;
      background-color: $targetBackground;
      margin-bottom: 20px;

      .text {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          padding: 10px;
          color: white;
          font-size: 22px;  
          text-align: center;
        }

      }


      .refresh {
        background-color: $refreshBackground;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover {
          color: orange;
        }

      }
    }

    span {
      font-family: $fontFamily;
      letter-spacing: 2px;
      padding: 10px;
    }

    .red {
      color: 'red';
    }


    textarea {
      resize: none;
      width: 80%;
      min-height: 400px;
      background-color: $backgroundColor;
      color: $fontMain;
      font-family: $fontFamily;
      line-height: 20px;
      letter-spacing: 2px;
      padding: 10px;
      //I want this border only when typing
      // border: 1px solid $fontMain;
      &:focus {
        box-shadow: none;
        border: 1px solid $fontMain;
        overflow: auto;
        outline: none;
        border-radius: 3px;
      }

      
      &:disabled {
        background-color: $disabledColor;
      }
    }

    h2 {
      font-family: $fontFamily;
      letter-spacing: 2px;
      padding: 10px;
    }

    .hide {
      display: none;
    }

    .timer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $backgroundColor;
      .arrow {
        font-size: 50px;
        padding: 0 5px;
        color: $btnColor;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          color: orange;
        }
      }
    }
  
    .btn {
        background-color: $btnColor;
        width: 20%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #fff;
        color: $containerColor;
        opacity: 1;
        font-size: 30px;
        margin: 10px;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover:enabled {
            opacity: 0.4;
        }
        &:disabled {
          background-color: $disabledColor;
          cursor: not-allowed;
        }
    }

  }
}







