@import '../../Global/variables.scss';
@import '../../Global/global.scss';


form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .btn {
        background-color: $backgroundColor;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #fff;
        color: $containerColor;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover {
            color: $backgroundColor;
            background-color: green;
        }
    }
}
